
.form-signin {
    background: #a5e1ad;
    margin-top: 20px !important;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    border: solid 5px #554377;
    .checkbox {
        font-weight: 400;
    }
    input[type="email"] {
        margin-bottom: 20px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-floating:focus-within {
        z-index: 2;
    }
    .btn-primary{
        background: #554377;
        color: #a5e1ad;
        margin: 5px;
    }
}



